doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // metatextblock
    title Hồ sơ admin - School market
    // /metatextblock
    meta(property="fb:app_id" content="257953674358265")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="x-dns-prefetch-control" content="on")
    link(rel="dns-prefetch" href="https://tilda.ws")
    link(rel="dns-prefetch" href="https://static.tildacdn.com")
    link(rel="shortcut icon" href="/ico/eco.png" type="image/x-icon")
    // Assets
    link(rel="stylesheet" href="https://static.tildacdn.com/css/tilda-grid-3.0.min.css" type="text/css" media="all")
    link(rel="stylesheet" href="https://tilda.ws/project1419256/tilda-blocks-2.12.css?t=1561694083" type="text/css" media="all")
    link(rel="stylesheet" href="https://static.tildacdn.com/css/tilda-animation-1.0.min.css" type="text/css" media="all")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swaprel=stylesheet" type="text/css")
    script(src="https://static.tildacdn.com/js/jquery-1.10.2.min.js")
    script(src="https://static.tildacdn.com/js/tilda-scripts-2.8.min.js")
    script(src="https://tilda.ws/project1419256/tilda-blocks-2.7.js?t=1561694083")
    script(src="https://static.tildacdn.com/js/lazyload-1.3.min.js" charset="utf-8")
    script(src="https://static.tildacdn.com/js/tilda-animation-1.0.min.js" charset="utf-8")
    script(src="https://static.tildacdn.com/js/tilda-forms-1.0.min.js" charset="utf-8")
    script(type="text/javascript").
      window.dataLayer = window.dataLayer || [];
    script(type="text/javascript").
      if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof(sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
      document.getElementsByTagName('head')[0].appendChild(style);
      $(document).ready(function() {
      $('.t-records').addClass('t-records_animated');
      setTimeout(function() {
      $('.t-records').addClass('t-records_visible');
      sessionStorage.setItem('visited', 'y');
      }, 400);
      });
      }
  body.t-body(style="margin:0;")
    // allrecords
    #allrecords.t-records(data-hook="blocks-collection-content-node" data-tilda-project-id="1419256" data-tilda-page-id="6375595" data-tilda-page-alias="userprofile" data-tilda-formskey="c71755a091199fc45bcc6680ae929656")
      #rec113048485.r.t-rec(style=" " data-animationappear="off" data-record-type="257")
        // T228
        #nav113048485marker
        #nav113048485.t228.t228__positionfixed(style="background-color: rgba(255,167,66,0.0); height:80px; " data-bgcolor-hex="#ffa742" data-bgcolor-rgba="rgba(255,167,66,0.0)" data-navmarker="nav113048485marker" data-appearoffset="" data-bgopacity-two="50" data-menushadow="" data-bgopacity="0.0" data-bgcolor-rgba-afterscroll="rgba(255,167,66,0.50)" data-menu-items-align="center" data-menu="yes")
          .t228__maincontainer(style="height:80px;")
            .t228__padding40px
            .t228__leftside
              .t228__leftcontainer
                a.t228__logo.t-title(href='/' field="title" style="color:#ffffff;font-size:30px;font-weight:600;font-family:'Montserrat';") School Market
            .t228__centerside
              .t228__centercontainer
                ul.t228__list.t228__list_hidden  
            .t228__rightside
              .t228__rightcontainer
                .t228__right_buttons
                  .t228__right_buttons_wrap
                    .t228__right_buttons_but
                      a.t-btn(href="/admin" target="" style="color:#ffffff;background-color:#ffb833;")
                        table(style="width:100%; height:100%;")
                          tr
                            td Trở lại trang
                    .t228__right_buttons_but
                      a.t-btn(href="/admin/logout" target="" style="color:#ffffff;border:0px solid #ffffff;background-color:#ffb833;")
                        table(style="width:100%; height:100%;")
                          tr
                            td Đăng xuất
            .t228__padding40px
        script(type="text/javascript").
          $(document).ready(function() {
          t228_highlight();
          t228_checkAnchorLinks('113048485');
          });
          $(window).resize(function() {
          t228_setWidth('113048485');
          });
          $(window).load(function() {
          t228_setWidth('113048485');
          });
          $(document).ready(function() {
          t228_setWidth('113048485');
          });
          $(window).resize(function() {
          t228_setBg('113048485');
          });
          $(document).ready(function() {
          t228_setBg('113048485');
          });
          $(document).ready(function() {
          t228_changebgopacitymenu('113048485');
          $(window).bind('scroll', t_throttle(function() {
          t228_changebgopacitymenu('113048485')
          }, 200));
          });
        //if IE 8
          style.
            #rec113048485 .t228 { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9ffa742', endColorstr='#D9ffa742');
            }
      #rec113048486.r.t-rec.t-rec_pt_150.t-rec_pb_150(style="padding-top:150px;padding-bottom:150px;background-color:#f0eded; " data-animationappear="off" data-record-type="678" data-bg-color="#f0eded")
        // t678
        .t678.t-input_nomargin
          .t-section__container.t-container
            .t-col.t-col_12
              .t-section__topwrapper.t-align_center
                .t-section__title.t-title.t-title_xs.t-animate(data-animate-style="fadein" data-animate-group="yes" field="btitle")
                  div(style="color:#ffbc40;" data-customstyle="yes")
                    span(style="font-weight: 600;")
                      | Chỉnh sửa thông tin
                      br
                .t-section__descr.t-descr.t-descr_xl.t-animate(data-animate-style="fadeinup" data-animate-group="yes" field="bdescr") 
                    | Đổi mật khẩu ở phía dưới 
                    br
                    //| Không chỉnh tên và lớp
          .t-container
            .t-col.t-col_8.t-prefix_2
              .t-animate(data-animate-style="fadeindown" data-animate-group="yes" data-animate-order="1")
                form(name="form113048486" role="form" id='upperForm' action="/admin/editProfile" method="POST" data-formactiontype="0" data-inputbox=".t-input-group" data-success-callback="t678_onSuccess")
                  // NO ONE SERVICES CONNECTED
                  .js-successbox.t-form__successbox.t-text.t-text_md(style="display:none;")
                  .t-form__inputsbox
                    .t-input-group.t-input-group_in(data-input-lid="1561691746209")
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar="no" field="li_title__1561691746209" style="font-weight:600;") Họ và tên
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type="text" name="name" value=admin.name data-tilda-req="1" style="color:#000000; border:1px solid #000000; ")
                        .t-input-error
                    .t-input-group.t-input-group_in(data-input-lid="1561691768847")
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar="no" field="li_title__1561691768847" style="font-weight:600;") Đơn vị công tác
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type="text" name="clas" value=admin.clas data-tilda-req="1" style="color:#000000; border:1px solid #000000; ")
                        .t-input-error
                    .t-input-group.t-input-group_em(data-input-lid="1497868409210")
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar="no" field="li_title__1497868409210" style="font-weight:600;") Email
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type="text" name="email" value=admin.email data-tilda-req="1" data-tilda-rule="email" style="color:#000000; border:1px solid #000000; ")
                        .t-input-error
                    .t-input-group.t-input-group_in(data-input-lid="1561691798377")
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar="no" field="li_title__1561691798377" style="font-weight:600;") Địa chỉ Facebook
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type="text" name="fb" value=admin.fb data-tilda-req="1" style="color:#000000; border:1px solid #000000; ")
                        .t-input-error
                    .t-input-group.t-input-group_in(data-input-lid="1561691798377")
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar="no" field="li_title__1561691798377" style="font-weight:600;") Google Form
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type="text" name="googleForm" value=admin.googleForm data-tilda-req="1" style="color:#000000; border:1px solid #000000; ")
                        .t-input-error
                    .t-input-group.t-input-group_in(data-input-lid="1497868424872")
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar="no" field="li_title__1497868424872" style="font-weight:600;") Số điện thoại
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type="text" name="phone" value=admin.phone data-tilda-req="1" style="color:#000000; border:1px solid #000000; ")
                        .t-input-error
                    .t-input-group.t-input-group_in(data-input-lid="1500457205522")
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar="no" field="li_title__1500457205522" style="font-weight:600;") Nhập mật khẩu để xác nhận
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type="password" name="password" id='upperPass' data-tilda-req="1" style="color:#000000; border:1px solid #000000; ")
                        .t-input-error
                    .t-form__errorbox-middle
                      .js-errorbox-all.t-form__errorbox-wrapper(style="display:none;")
                        .t-form__errorbox-text.t-text.t-text_md
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-all
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-req
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-email
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-name
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-phone
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-minlength
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-string
                    .t-form__submit
                      button.t-submit(type="submit" id='upperButt'  style="color:#ffffff;background-color:#ffbc40;" data-btneffects-first="btneffects-light") Gửi
                  .t-form__errorbox-bottom
                    .js-errorbox-all.t-form__errorbox-wrapper(style="display:none;")
                      .t-form__errorbox-text.t-text.t-text_md
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-all
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-req
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-email
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-name
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-phone
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-minlength
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-string
                style.
                  #rec113048486 input::-webkit-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec113048486 input::-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec113048486 input:-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec113048486 input:-ms-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec113048486 textarea::-webkit-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec113048486 textarea::-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec113048486 textarea:-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec113048486 textarea:-ms-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
        style.
          #rec113048486 .t-btn[data-btneffects-first],
          #rec113048486 .t-btn[data-btneffects-second],
          #rec113048486 .t-submit[data-btneffects-first],
          #rec113048486 .t-submit[data-btneffects-second] {
          position: relative;
          overflow: hidden;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          }
          #rec113048486 .t-btn[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects,
          #rec113048486 .t-submit[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transform: translateX(-60px);
          -ms-transform: translateX(-60px);
          transform: translateX(-60px);
          -webkit-animation-name: light;
          animation-name: light;
          -webkit-animation-duration: 4s;
          animation-duration: 4s;
          -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          }
          #rec113048486 .t-btn[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects_md,
          #rec113048486 .t-submit[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects_md {
          -webkit-animation-name: light-md;
          animation-name: light-md;
          }
          #rec113048486 .t-btn[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects_lg,
          #rec113048486 .t-submit[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects_lg {
          -webkit-animation-name: light-lg;
          animation-name: light-lg;
          }
          #rec113048486 .t-btn[data-btneffects-first="btneffects-light"] .t-btn_effects,
          #rec113048486 .t-submit[data-btneffects-first="btneffects-light"] .t-btn_effects {
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          height: 100%;
          background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          }
          @-webkit-keyframes light {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes light-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes light-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
        script(type="text/javascript").
          $(document).ready(function() {
          $('#rec113048486 .t-btn[data-btneffects-first], #rec113048486 .t-submit[data-btneffects-first]').append('<div class="t-btn_wrap-effects"><div class="t-btn_effects"></div></div>');
          if ($('#rec113048486 .t-btn[data-btneffects-first]').outerWidth() > 230) {
          $('#rec113048486 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec113048486 .t-submit[data-btneffects-first] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_md');
          }
          if ($('#rec113048486 .t-btn[data-btneffects-first], #rec113048486 .t-submit').outerWidth() > 300) {
          $('#rec113048486 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec113048486 .t-submit[data-btneffects-first] .t-btn_wrap-effects').removeClass('t-btn_wrap-effects_md');
          $('#rec113048486 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec113048486 .t-submit[data-btneffects-first] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_lg');
          }
          });
      #rec113048910.r.t-rec.t-rec_pt_90.t-rec_pb_90(style="padding-top:90px;padding-bottom:90px; " data-record-type="71")
        // T057
        .t057
          .t-container.t-align_center ~
      #rec113048950.r.t-rec.t-rec_pt_120.t-rec_pb_120(style="padding-top:120px;padding-bottom:120px; " data-animationappear="off" data-record-type="690")
        // t690
        .t690
          .t-section__container.t-container
            .t-col.t-col_12
              .t-section__topwrapper.t-align_center
                .t-section__title.t-title.t-title_xs(field="btitle")
                  div(style="color:#ffbc40;" data-customstyle="yes") Đổi mật khẩu
                .t-section__descr.t-descr.t-descr_xl.t-margin_auto(field="bdescr")
                  | Hãy thường xuyên thay đổi
                  br
                  | để tăng tính bảo mật
          .t-container
            .t-col.t-col_10.t-prefix_1.t-animate(data-animate-style="fadein" data-animate-group="yes")
              form(name="form113048950" role="form" id='downForm' action="/admin/changePass" method="POST" data-formactiontype="0" data-inputbox=".t-input-group" data-success-callback="t690_onSuccess")
                // NO ONE SERVICES CONNECTED
                .js-successbox.t-form__successbox.t-text.t-text_md(style="display:none;")
                .t-form__inputsbox
                  .t-input-group.t-input-group_in(data-input-lid="1494863045129")
                    .t-input-title.t-descr.t-descr_md(data-redactor-toolbar="no" field="li_title__1494863045129" style="") Mật khẩu cũ
                    .t-input-block
                      input.t-input.js-tilda-rule(required id='downPass' type="password" name="oldpass" value="" placeholder="Mật khẩu cũ" data-tilda-req="1" style="color:#000000; border:1px solid #000000; ")
                      .t-input-error
                  .t-input-group.t-input-group_in(data-input-lid="1495122982159")
                    .t-input-title.t-descr.t-descr_md(data-redactor-toolbar="no" field="li_title__1495122982159" style="") Mật khẩu mới
                    .t-input-block
                      input.t-input.js-tilda-rule(required type="password" name="pass" id='pass' value="" placeholder="Mật khẩu mới" data-tilda-req="1" style="color:#000000; border:1px solid #000000; ")
                      .t-input-error
                  .t-input-group.t-input-group_in(data-input-lid="1494867612478")
                    .t-input-title.t-descr.t-descr_md(data-redactor-toolbar="no" field="li_title__1494867612478" style="") Nhập lại mật khẩu mới
                    .t-input-block
                      input.t-input.js-tilda-rule(required type="password" name="repass" id='repass' value="" placeholder="Nhập lại mật khẩu mới" data-tilda-req="1" style="color:#000000; border:1px solid #000000; ")
                      .t-input-error
                  .t-form__submit
                    button.t-submit(type="submit" id='downButt' style="color:#ffffff;background-color:#ffbc40;" data-btneffects-first="btneffects-flash") Đổi mật khẩu
                .t-form__errorbox-bottom
                  .js-errorbox-all.t-form__errorbox-wrapper(style="display:none;")
                    .t-form__errorbox-text.t-text.t-text_md
                      p.t-form__errorbox-item.js-rule-error.js-rule-error-all
                      p.t-form__errorbox-item.js-rule-error.js-rule-error-req
                      p.t-form__errorbox-item.js-rule-error.js-rule-error-email
                      p.t-form__errorbox-item.js-rule-error.js-rule-error-name
                      p.t-form__errorbox-item.js-rule-error.js-rule-error-phone
                      p.t-form__errorbox-item.js-rule-error.js-rule-error-minlength
                      p.t-form__errorbox-item.js-rule-error.js-rule-error-string
              style.
                #rec113048950 input::-webkit-input-placeholder {
                color: #000000;
                opacity: 0.5;
                }
                #rec113048950 input::-moz-placeholder {
                color: #000000;
                opacity: 0.5;
                }
                #rec113048950 input:-moz-placeholder {
                color: #000000;
                opacity: 0.5;
                }
                #rec113048950 input:-ms-input-placeholder {
                color: #000000;
                opacity: 0.5;
                }
                #rec113048950 textarea::-webkit-input-placeholder {
                color: #000000;
                opacity: 0.5;
                }
                #rec113048950 textarea::-moz-placeholder {
                color: #000000;
                opacity: 0.5;
                }
                #rec113048950 textarea:-moz-placeholder {
                color: #000000;
                opacity: 0.5;
                }
                #rec113048950 textarea:-ms-input-placeholder {
                color: #000000;
                opacity: 0.5;
                }
        style.
          #rec113048950 .t-btn[data-btneffects-first],
          #rec113048950 .t-btn[data-btneffects-second],
          #rec113048950 .t-submit[data-btneffects-first],
          #rec113048950 .t-submit[data-btneffects-second] {
          position: relative;
          overflow: hidden;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          }
          #rec113048950 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects,
          #rec113048950 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transform: translateX(-85px);
          -ms-transform: translateX(-85px);
          transform: translateX(-85px);
          -webkit-animation-name: flash;
          animation-name: flash;
          -webkit-animation-duration: 3s;
          animation-duration: 3s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          }
          #rec113048950 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md,
          #rec113048950 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md {
          -webkit-animation-name: flash-md;
          animation-name: flash-md;
          }
          #rec113048950 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg,
          #rec113048950 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg {
          -webkit-animation-name: flash-lg;
          animation-name: flash-lg;
          }
          #rec113048950 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_effects,
          #rec113048950 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_effects {
          background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .4)));
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
          background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
          background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
          width: 45px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 30px;
          -webkit-transform: skewX(-45deg);
          -ms-transform: skewX(-45deg);
          transform: skewX(-45deg);
          }
          @-webkit-keyframes flash {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes flash {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes flash-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes flash-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes flash-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes flash-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
        script(type="text/javascript").
          $(document).ready(function() {
          $('#rec113048950 .t-btn[data-btneffects-first], #rec113048950 .t-submit[data-btneffects-first]').append('<div class="t-btn_wrap-effects"><div class="t-btn_effects"></div></div>');
          if ($('#rec113048950 .t-btn[data-btneffects-first], #rec113048950 .t-submit[data-btneffects-first]').outerWidth() > 230) {
          $('#rec113048950 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec113048950 .t-submit[data-btneffects-first] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_md');
          }
          if ($('#rec113048950 .t-btn[data-btneffects-first], #rec113048950 .t-submit').outerWidth() > 750) {
          $('#rec113048950 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec113048950 .t-submit[data-btneffects-first] .t-btn_wrap-effects').removeClass('t-btn_wrap-effects_md');
          $('#rec113048950 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec113048950 .t-submit[data-btneffects-first] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_lg');
          }
          });
    script(type="text/javascript").
      if (!window.mainTracker) {
      window.mainTracker = 'tilda';
      }(function(d, w, k, o, g) {
      var n = d.getElementsByTagName(o)[0],
      s = d.createElement(o),
      f = function() {
      n.parentNode.insertBefore(s, n);
      };
      s.type = "text/javascript";
      s.async = true;
      s.key = k;
      s.id = "tildastatscript";
      s.src = g;
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else {
      f();
      }
      })(document, window, 'd22cbffae3a3cd388f2a6d5e68166cf3', 'script', 'https://stat.tildacdn.com/js/tildastat-0.2.min.js');
    script(src = '/socket.io/socket.io.js') 
    script(src='https://unpkg.com/sweetalert/dist/sweetalert.min.js')
    script.
        var socket = io.connect('http://localhost') ; 
      $(document).ready(function(){
          socket.emit('online','anonymous') ; 
          
          var password = document.getElementById("pass") ;
          var confirm_password = document.getElementById("repass");
          function validatePassword(){
                if(password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                confirm_password.setCustomValidity('');
          }
          }
          password.onchange = validatePassword;
          confirm_password.onkeyup = validatePassword;


          $('#upperForm').submit(function(){
            socket.emit('profile',{id : 'admin' , pass : $('#upperPass').val()}) ; 
          })
          
          $('#downForm').submit(function(){
            socket.emit('profile',{id : 'admin' , pass : $('#downPass').val()}) ; 
          })
          socket.on('changeSuccess',function(){
            swal(
                {
                  title : "Thông báo", 
                  text : "Đổi thành công", 
                  icon : "success",
                  button : false 
                }
              );
          })
          socket.on('wrongPass',function(){ 
              swal(
                {
                  title : "Thông báo", 
                  text : "Sai mật khẩu", 
                  icon : "error",
                  button : false 
                }
              );
          })
      
      });