doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    // metatextblock
    title Making a hotel reservation
    |     
    meta(name='description', content='An online form to collect contact information, the number of guests coming and their arrival/departure dates.')
    |     
    meta(property='og:url', content='http://ngangbanggg.tilda.ws/formcheckout')
    |     
    meta(property='og:title', content='Making a hotel reservation')
    |     
    meta(property='og:description', content='An online form to collect contact information, the number of guests coming and their arrival/departure dates.')
    |     
    meta(property='og:type', content='website')
    |     
    meta(property='og:image', content='https://static.tildacdn.com/tild3564-3265-4232-b735-336666346532/-/resize/504x/60233633_24814651085.jpg')
    |     
    link(rel='canonical', href='http://ngangbanggg.tilda.ws/formcheckout')
    // /metatextblock
    meta(property='fb:app_id', content='257953674358265')
    |     
    meta(name='format-detection', content='telephone=no')
    |     
    meta(http-equiv='x-dns-prefetch-control', content='on')
    |     
    link(rel='dns-prefetch', href='https://tilda.ws')
    |     
    link(rel='dns-prefetch', href='https://static.tildacdn.com')
    |     
    link(rel='shortcut icon', href='https://static.tildacdn.com/tild3764-3362-4466-b432-343564383536/LOGO_NB_c_ch.ico', type='image/x-icon')
    // Assets
    link(rel='stylesheet', href='https://static.tildacdn.com/css/tilda-grid-3.0.min.css', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='https://tilda.ws/project1201204/tilda-blocks-2.12.css?t=1560678477', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='https://static.tildacdn.com/css/tilda-animation-1.0.min.css', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='https://static.tildacdn.com/css/tilda-slds-1.4.min.css', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='https://static.tildacdn.com/css/tilda-zoom-2.0.min.css', type='text/css', media='all')
    |     
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat&display=swap', type='text/css')
    |     
    script(src='https://static.tildacdn.com/js/jquery-1.10.2.min.js')
    |     
    script(src='https://static.tildacdn.com/js/tilda-scripts-2.8.min.js')
    |     
    script(src='https://tilda.ws/project1201204/tilda-blocks-2.7.js?t=1560678477')
    |     
    script(src='https://static.tildacdn.com/js/lazyload-1.3.min.js', charset='utf-8')
    |     
    script(src='https://static.tildacdn.com/js/tilda-animation-1.0.min.js', charset='utf-8')
    |     
    script(src='https://static.tildacdn.com/js/tilda-slds-1.4.min.js', charset='utf-8')
    |     
    script(src='https://static.tildacdn.com/js/hammer.min.js', charset='utf-8')
    |     
    script(src='https://static.tildacdn.com/js/tilda-zoom-2.0.min.js', charset='utf-8')
    |     
    script(src='https://static.tildacdn.com/js/tilda-forms-1.0.min.js', charset='utf-8')
    |     
    script(type='text/javascript').
      window.dataLayer = window.dataLayer || [];
    |     
    script(type='text/javascript').
      if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof(sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
      document.getElementsByTagName('head')[0].appendChild(style);
      $(document).ready(function() {
      $('.t-records').addClass('t-records_animated');
      setTimeout(function() {
      $('.t-records').addClass('t-records_visible');
      sessionStorage.setItem('visited', 'y');
      }, 400);
      });
      }
  body.t-body(style='margin:0;')
    // allrecords
    #allrecords.t-records(data-hook='blocks-collection-content-node', data-tilda-project-id='1201204', data-tilda-page-id='6236642', data-tilda-page-alias='formcheckout', data-tilda-formskey='7f8599e8e0f061753832190c5962ec5c')
      #rec110778467.r.t-rec(style='background-color:#000000; ', data-animationappear='off', data-record-type='230', data-bg-color='#000000')
        #nav110778467.t199__header.t199__js__header.t199__dark(style='', data-menu='yes')
          .t199__holder
            a.t199__logo(href='/user/dashboard', style='')
              .t199__logo-text.t-title(field='title', style='') School Market
              |                         
              .t199__logo-text-mobile.t-title(field='title', style='') School Market
            |                     
            a.t199__mmenu-toggler.t199__js__menu-toggler(href='#')
              span.t199__mmenu-toggler-in
            |                     
            .t199__mmenu.t199__js__menu
              nav.t199__menu
                a.t199__menu-item.t-title.t-menu__link-item(href='/') T&#x1EA5;t c&#x1EA3;
                |  
                a.t199__menu-item.t-title.t-menu__link-item(href='/') Th&#x1EF1;c ph&#x1EA9;m
                |  
                a.t199__menu-item.t-title.t-menu__link-item(href='/') Trang tr&iacute;
                |  
                a.t199__menu-item.t-title.t-menu__link-item(href='') Th&#x1EDD;i trang
                |  
                a.t199__menu-item.t-title.t-menu__link-item(href='/') Thi&#x1EBF;t b&#x1ECB; &dstrok;i&#x1EC7;n t&#x1EED;
                |  
                a.t199__menu-item.t-title.t-menu__link-item(href='') Kh&aacute;c
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          t199_showMenu('110778467');
          t199_positionHeader('110778467');
          });
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          t199_highlight('110778467');
          t199_checkAnchorLinks('110778467');
          });
      |         
      #rec110776989.r.t-rec.t-rec_pt_120.t-rec_pb_120(style='padding-top:120px;padding-bottom:120px;background-color:#000000; ', data-record-type='255', data-bg-color='#000000')
        // T225
        .t225
          .t-container.t-align_center
            .t-col.t-col_10.t-prefix_1
              .t225__title.t-title.t-title_md.t-animate(style='color:#ffffff; visibility: hidden;' id='idItem')=item.idItem
              h1(id='userId' style='visibility: hidden')=customer.id
              .t225__title.t-title.t-title_md.t-animate(data-animate-style='fadeindown', data-animate-group='yes', field='title', style='color:#ffffff;') #{item.nameItem}
      |         
      #rec110777195.r.t-rec.t-rec_pt_90.t-rec_pb_75(style='padding-top:90px;padding-bottom:75px; ', data-record-type='223')
        // T195
        .t195
          .t-container
            .t-col.t-col_6
              .t195__text.t-text.t-text_md.t-animate(data-animate-style='fadein', data-animate-group='yes', data-animate-order='1', style='', field='text')
                | Tên sản phẩm : #{item.nameItem}
                br 
                | Danh mục : #{item.type}
                br
                | Mô tả : #{item.desItem}
                br
                | Người đăng : #{item.owner}                         
                br
                | Giá : #{item.priceItem} đ     
                br
                | Địa chỉ email để trao đổi : 
                a(href = user.fb target="_blank" rel="noopener noreferrer") #{user.fb}                                                
                br
                | Địa chỉ email để trao đổi : #{user.email}                                
                br
                | Hạn cuối nhận giao hàng : #{item.dateItem}
            |                     
            .t-col.t-col_6.t195__imgsection(itemscope='', itemtype='http://schema.org/ImageObject')
              meta(itemprop='image', content=item.imgItem)
              |  
              img.t195__img.t-img.t-animate(data-animate-style='fadeinup', data-animate-group='yes', data-animate-order='2', data-animate-delay='0.5', data-tu-max-width='1200', data-tu-max-height='1200', src='https://static.tildacdn.com/tild3564-3265-4232-b735-336666346532/-/empty/60233633_24814651085.jpg', data-original=item.imgItem, imgfield='img')
              |                         
              br
              |                         
              .t195__sectitle.t-descr.t-animate(data-animate-style='fadeindown', data-animate-group='yes', data-animate-order='3', data-animate-delay='0.5', style='', field='imgtitle', itemprop='name')
              |                         
              .t195__secdescr.t-descr.t-animate(data-animate-style='fadeinright', data-animate-group='yes', data-animate-order='4', data-animate-delay='0.5', style='', field='imgdescr', itemprop='description')
      |         
      #rec110780903.r.t-rec.t-rec_pt_60.t-rec_pb_60(style='padding-top:60px;padding-bottom:60px; ', data-record-type='363')
        // T029
        .t029
          .t029__container.t-container
            .t029__col.t-col.t-col_8
              .t029__linewrapper(style='opacity:0.2;')
                .t029__opacity.t029__opacity_left(style='background-image: -moz-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(right, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(right, #000000, rgba(0,0,0,0));')
                |                             
                .t029__line(style='background: #000000;')
                |                             
                .t029__opacity.t029__opacity_right(style='background-image: -moz-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -webkit-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -o-linear-gradient(left, #000000, rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, #000000, rgba(0,0,0,0));')
      |         
      #rec110776990.r.t-rec.t-rec_pt_60.t-rec_pb_105(style='padding-top:60px;padding-bottom:105px; ', data-animationappear='off', data-record-type='678')
        // t678
        .t678.t-input_nomargin
          .t-section__container.t-container
            .t-col.t-col_12
              .t-section__topwrapper.t-align_center
                .t-section__title.t-title.t-title_xs.t-animate(data-animate-style='fadeinup', data-animate-group='yes', field='btitle') &Dstrok;&abreve;ng k&iacute; mua t&#x1EA1;i &dstrok;&acirc;y
          |                 
          .t-container
            .t-col.t-col_6.t-prefix_3
              .t-animate(data-animate-style='fadeinleft', data-animate-group='yes', data-animate-order='1')
                form(name='form110776990', role='form', action='/market/checkOut/' + item.idItem , method='POST', data-formactiontype='0', data-inputbox='.t-input-group', data-success-callback='t678_onSuccess')
                  // NO ONE SERVICES CONNECTED
                  .js-successbox.t-form__successbox.t-text.t-text_md(style='display:none;')
                  |                                 
                  .t-form__inputsbox
                    .t-input-group.t-input-group_em(data-input-lid='1493283059688')
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar='no', type ='hidden' field='li_title__1493283059688', style='')
                      |                                         
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type='hidden', id = 'id', name='id', value=customer.id, data-tilda-req='1', data-tilda-rule='email', style='color:#000000; border:1px solid #000000; ')
                        |                                             
                        .t-input-error
                    |        
                    .t-input-group.t-input-group_in(data-input-lid='1500477820459')
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar='no', field='li_title__1500477820459', style='') H&#x1ECD; t&ecirc;n
                      |                                         
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type='text', id = 'name' ,  name='name', value=customer.name, data-tilda-req='1', style='color:#000000; border:1px solid #000000; ')
                        |                                             
                        .t-input-error
                    |                                     
                    .t-input-group.t-input-group_em(data-input-lid='1493283059688')
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar='no', field='li_title__1493283059688', style='') E-mail
                      |                                         
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type='text', id = 'email', name='email', value=customer.email, placeholder='example@site.com', data-tilda-req='1', data-tilda-rule='email', style='color:#000000; border:1px solid #000000; ')
                        |                                             
                        .t-input-error
                    |                                     
                    .t-input-group.t-input-group_in(data-input-lid='1495040492013')
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar='no', field='li_title__1495040492013', style='') Phone
                      |                                         
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type='text',  id = 'phone', name = 'phone' value=customer.phone, data-tilda-req='1', style='color:#000000; border:1px solid #000000; ')
                        |                                             
                        .t-input-error
                    .t-input-group.t-input-group_in(data-input-lid='1495040492013')
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar='no', field='li_title__1495040492013', style='') Địa chỉ facebook
                      |                                         
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(required type='text',  id = 'fb', name='fb', value=customer.fb, data-tilda-req='1', style='color:#000000; border:1px solid #000000; ')
                        |                                             
                        .t-input-error
                    .t-input-group.t-input-group_in(data-input-lid='1495040492013')
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar='no', field='li_title__1495040492013', style='') Size (Nếu là áo quần)
                      |                                         
                      .t-input-block
                        input.t-input.js-tilda-rule.t-input_bbonly(type='text',  id = 'size', name='size',ata-tilda-req='1', value =' ' style='color:#000000; border:1px solid #000000; ')
                        |                                             
                        .t-input-error
                    |                                     
                    .t-input-group.t-input-group_qn(data-input-lid='1500477576412')
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar='no', field='li_title__1500477576412', style='') Số lượng cần mua
                      |                                         
                      .t-input-block
                        .t-inputquantity__wrapper
                          span.t-inputquantity__btn.t-inputquantity__btn-minus &ndash;
                          |                                                 
                          input.t-input.t-inputquantity.js-tilda-rule.t-input_bbonly(required type='text', id='amount' name='amount', value='1', data-tilda-req='1', data-tilda-rule='number', style='color:#000000; border:1px solid #000000; ')
                          |  
                          span.t-inputquantity__btn.t-inputquantity__btn-plus +
                        |                                             
                        script.
                          $(document).ready(function() {
                          function t_input_quantity_init(recid, lid) {
                          var qel = $('#rec' + recid).find('[data-input-lid="' + lid + '"]');
                          qel.find('.t-inputquantity__btn-plus').click(function() {
                          var val = qel.find('.t-inputquantity').val();
                          if (val >= 0) {
                          val++;
                          } else {
                          val = 1;
                          }
                          qel.find('.t-inputquantity').val(val);
                          });
                          qel.find('.t-inputquantity__btn-minus').click(function() {
                          var val = qel.find('.t-inputquantity').val();
                          if (val > 0) {
                          val--;
                          } else {
                          val = 0;
                          }
                          qel.find('.t-inputquantity').val(val);
                          });
                          var inputQuantity = qel.find('.t-inputquantity');
                          qel.append('<span class="t-inputquantity_width" style="display:none;"></span>');
                          var spanWidth = qel.find('.t-inputquantity_width').html(inputQuantity.val()).width();
                          inputQuantity.css('width', 70 + spanWidth);
                          }
                          t_input_quantity_init('110776990', '1500477576412');
                          });
                        |                                             
                        .t-input-error
                    |                                     
                    .t-input-group.t-input-group_da(data-input-lid='1500477709808')
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar='no', field='li_title__1500477709808', style='') Ngày giao hàng (Hạn cuối giao hàng :  #{item.dateItem} )
                      |                                         
                      .t-input-block
                        .t-datepicker__wrapper
                          input.t-input.t-datepicker.js-tilda-rule.js-tilda-mask.t-input_bbonly(required type='text', name='dateReceive', id='dateReceive' , data-tilda-req='1', data-tilda-rule='date', data-tilda-dateformat='DD-MM-YYYY', data-tilda-datediv='dash', data-tilda-mask='99-99-9999', style='color:#000000; border:1px solid #000000; ')
                          |                                                 
                          svg.t-datepicker__icon.t-datepicker__icon_bbonly(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 69.5 76.2', style='width:25px;')
                            path(d='M9.6 42.9H21V31.6H9.6v11.3zm3-8.3H18v5.3h-5.3v-5.3zm16.5 8.3h11.3V31.6H29.1v11.3zm3-8.3h5.3v5.3h-5.3v-5.3zM48 42.9h11.3V31.6H48v11.3zm3-8.3h5.3v5.3H51v-5.3zM9.6 62H21V50.6H9.6V62zm3-8.4H18V59h-5.3v-5.4zM29.1 62h11.3V50.6H29.1V62zm3-8.4h5.3V59h-5.3v-5.4zM48 62h11.3V50.6H48V62zm3-8.4h5.3V59H51v-5.4z')
                            |                                                     
                            path(d='M59.7 6.8V5.3c0-2.9-2.4-5.3-5.3-5.3s-5.3 2.4-5.3 5.3v1.5H40V5.3C40 2.4 37.6 0 34.7 0s-5.3 2.4-5.3 5.3v1.5h-9.1V5.3C20.3 2.4 18 0 15 0c-2.9 0-5.3 2.4-5.3 5.3v1.5H0v69.5h69.5V6.8h-9.8zm-7.6-1.5c0-1.3 1-2.3 2.3-2.3s2.3 1 2.3 2.3v7.1c0 1.3-1 2.3-2.3 2.3s-2.3-1-2.3-2.3V5.3zm-19.7 0c0-1.3 1-2.3 2.3-2.3S37 4 37 5.3v7.1c0 1.3-1 2.3-2.3 2.3s-2.3-1-2.3-2.3V5.3zm-19.6 0C12.8 4 13.8 3 15 3c1.3 0 2.3 1 2.3 2.3v7.1c0 1.3-1 2.3-2.3 2.3-1.3 0-2.3-1-2.3-2.3V5.3zm53.7 67.9H3V9.8h6.8v2.6c0 2.9 2.4 5.3 5.3 5.3s5.3-2.4 5.3-5.3V9.8h9.1v2.6c0 2.9 2.4 5.3 5.3 5.3s5.3-2.4 5.3-5.3V9.8h9.1v2.6c0 2.9 2.4 5.3 5.3 5.3s5.3-2.4 5.3-5.3V9.8h6.8l-.1 63.4z')
                        |                                             
                        link(rel='stylesheet', href='https://static.tildacdn.com/css/tiny-date-picker-1.5.css')
                        |                                             
                        script(src='https://static.tildacdn.com/js/tiny-date-picker-1.2.js')
                        |                                             
                        script.
                          $(document).ready(function() {
                          try {
                          setTimeout(function() {
                          t_datepicker_init('110776990', '1500477709808');
                          }, 500);
                          } catch (err) {}
                          });
                        |                                             
                        .t-input-error
                    |                                     
                    .t-form__errorbox-middle
                      .js-errorbox-all.t-form__errorbox-wrapper(style='display:none;')
                        .t-form__errorbox-text.t-text.t-text_md
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-all
                          |                                                 
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-req
                          |                                                 
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-email
                          |                                                 
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-name
                          |                                                 
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-phone
                          |                                                 
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-minlength
                          |                                                 
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-string
                    |                                     
                    .t-form__submit
                      button.t-submit(type='submit', id = 'LOLXD' , style='color:#ffffff;background-color:#000000;', data-btneffects-first='btneffects-flash') &Dstrok;&#x1EB7;t h&agrave;ng !
                  |                                 
                  .t-form__errorbox-bottom
                    .js-errorbox-all.t-form__errorbox-wrapper(style='display:none;')
                      .t-form__errorbox-text.t-text.t-text_md
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-all
                        |                                             
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-req
                        |                                             
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-email
                        |                                             
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-name
                        |                                             
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-phone
                        |                                             
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-minlength
                        |                                             
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-string
                |                             
                style.
                  #rec110776990 input::-webkit-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec110776990 input::-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec110776990 input:-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec110776990 input:-ms-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec110776990 textarea::-webkit-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec110776990 textarea::-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec110776990 textarea:-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec110776990 textarea:-ms-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
              |                         
              .t678__form-bottom-text.t-text.t-text_xs.t-animate(data-animate-style='fadeinright', data-animate-group='yes', data-animate-order='2', data-animate-delay='0.3', field='text')
                | Bằng cách nhấn vào nút trên, bạn đã đồng ý với
                a(target="_blank" rel="noopener noreferrer" href = '/')  điều khoản, chính sách
                |  của chúng tôi
        |             
        style.
          #rec110776990 .t-btn[data-btneffects-first],
          #rec110776990 .t-btn[data-btneffects-second],
          #rec110776990 .t-submit[data-btneffects-first],
          #rec110776990 .t-submit[data-btneffects-second] {
          position: relative;
          overflow: hidden;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          }
          #rec110776990 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects,
          #rec110776990 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transform: translateX(-85px);
          -ms-transform: translateX(-85px);
          transform: translateX(-85px);
          -webkit-animation-name: flash;
          animation-name: flash;
          -webkit-animation-duration: 3s;
          animation-duration: 3s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          }
          #rec110776990 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md,
          #rec110776990 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_md {
          -webkit-animation-name: flash-md;
          animation-name: flash-md;
          }
          #rec110776990 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg,
          #rec110776990 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_wrap-effects_lg {
          -webkit-animation-name: flash-lg;
          animation-name: flash-lg;
          }
          #rec110776990 .t-btn[data-btneffects-first="btneffects-flash"] .t-btn_effects,
          #rec110776990 .t-submit[data-btneffects-first="btneffects-flash"] .t-btn_effects {
          background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .4)));
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
          background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
          background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .4));
          width: 45px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 30px;
          -webkit-transform: skewX(-45deg);
          -ms-transform: skewX(-45deg);
          transform: skewX(-45deg);
          }
          @-webkit-keyframes flash {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes flash {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes flash-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes flash-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes flash-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes flash-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
        |             
        script(type='text/javascript').
          $(document).ready(function() {
          $('#rec110776990 .t-btn[data-btneffects-first], #rec110776990 .t-submit[data-btneffects-first]').append('<div class="t-btn_wrap-effects"><div class="t-btn_effects"></div></div>');
          if ($('#rec110776990 .t-btn[data-btneffects-first], #rec110776990 .t-submit[data-btneffects-first]').outerWidth() > 230) {
          $('#rec110776990 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec110776990 .t-submit[data-btneffects-first] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_md');
          }
          if ($('#rec110776990 .t-btn[data-btneffects-first], #rec110776990 .t-submit').outerWidth() > 750) {
          $('#rec110776990 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec110776990 .t-submit[data-btneffects-first] .t-btn_wrap-effects').removeClass('t-btn_wrap-effects_md');
          $('#rec110776990 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec110776990 .t-submit[data-btneffects-first] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_lg');
          }
          });
      |         
      #rec110781137.r.t-rec.t-rec_pt_0.t-rec_pb_0(style='padding-top:0px;padding-bottom:0px;background-color:#000000; ', data-animationappear='off', data-record-type='56', data-bg-color='#000000')
        // T046
        .t046
          .t-container
            .t-col.t-col_6.t-prefix_3
              .t046__text.t-text.t-text_xs(style='', field='text')
                div(style='color:#ffffff;', data-customstyle='yes') Bản quyền thuộc về Quoc Hung Bui
    // /allrecords
    // Stat
    script(type='text/javascript').
      if (!window.mainTracker) {
      window.mainTracker = 'tilda';
      }(function(d, w, k, o, g) {
      var n = d.getElementsByTagName(o)[0],
      s = d.createElement(o),
      f = function() {
      n.parentNode.insertBefore(s, n);
      };
      s.type = "text/javascript";
      s.async = true;
      s.key = k;
      s.id = "tildastatscript";
      s.src = g;
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else {
      f();
      }
      })(document, window, '589de8118390cf06dce5be0604916d94', 'script', 'https://stat.tildacdn.com/js/tildastat-0.2.min.js');
    script(src = '/socket.io/socket.io.js') 
    script.
        var socket = io.connect('http://localhost') ; //event connection bat cai nay
        $(document).ready(function(){
          socket.emit('online',$('#userId').text()) ; 
          $('#LOLXD').click(function(){
            let data = {
              id : $('#id').val(),
              name : $('#name').val(),
              email: $('#email').val(),
              phone: $('#phone').val(),
              facebook: $('#fb').val(),
              amount: $('#amount').val(),
              size : $('#size').val() ,
              dateReceive : $('#dateReceive').val() 
            }
            let idItem = $('#idItem').text() ;  
            socket.emit('checkOut',data,idItem) ;
          });    
        }); 