doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // metatextblock
    title Quản lí - School market
    // /metatextblock
    link(rel="shortcut icon" href="/ico/eco.png" type="image/x-icon")
    // Assets
    link(rel="stylesheet" href="https://static.tildacdn.com/css/tilda-grid-3.0.min.css" type="text/css" media="all")
    link(rel="stylesheet" href="https://tilda.ws/project1419256/tilda-blocks-2.12.css?t=1561385472" type="text/css" media="all")
    link(rel="stylesheet" href="https://static.tildacdn.com/css/tilda-animation-1.0.min.css" type="text/css" media="all")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swaprel=stylesheet" type="text/css")
    script(src="https://static.tildacdn.com/js/jquery-1.10.2.min.js")
    script(src="https://static.tildacdn.com/js/tilda-scripts-2.8.min.js")
    script(src="https://tilda.ws/project1419256/tilda-blocks-2.7.js?t=1561385472")
    script(src="https://static.tildacdn.com/js/lazyload-1.3.min.js" charset="utf-8")
    script(src="https://static.tildacdn.com/js/tilda-animation-1.0.min.js" charset="utf-8")
    script(type="text/javascript").
      window.dataLayer = window.dataLayer || [];
    script(type="text/javascript").
      if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof(sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
      document.getElementsByTagName('head')[0].appendChild(style);
      $(document).ready(function() {
      $('.t-records').addClass('t-records_animated');
      setTimeout(function() {
      $('.t-records').addClass('t-records_visible');
      sessionStorage.setItem('visited', 'y');
      }, 400);
      });
      }
  body.t-body(style="margin:0;")
    // allrecords
    #allrecords.t-records(data-hook="blocks-collection-content-node" data-tilda-project-id="1419256" data-tilda-page-id="6322660" data-tilda-page-alias="dashboard" data-tilda-formskey="c71755a091199fc45bcc6680ae929656")
      #rec112189141.r.t-rec(style=" " data-animationappear="off" data-record-type="257")
        // T228
        #nav112189141marker
        #nav112189141.t228.t228__positionfixed(style="background-color: rgba(255,167,66,0.0); height:80px; " data-bgcolor-hex="#ffa742" data-bgcolor-rgba="rgba(255,167,66,0.0)" data-navmarker="nav112189141marker" data-appearoffset="" data-bgopacity-two="50" data-menushadow="" data-bgopacity="0.0" data-bgcolor-rgba-afterscroll="rgba(245,145,79,0.5)" data-menu-items-align="center" data-menu="yes")
          .t228__maincontainer(style="height:80px;")
            .t228__padding40px
            .t228__leftside
              .t228__leftcontainer
                a.t228__logo.t-title(href = '/' field="title" style="color:#ffffff;font-size:30px;font-weight:600;font-family:'Montserrat';") School Market
            .t228__centerside
              .t228__centercontainer
                ul.t228__list.t228__list_hidden
                  li.t228__list_item
                    a.t-menu__link-item(href="#rec112189549" style="color:#ffffff;font-weight:600;" data-menu-item-number="1") Quản lí danh sách
                  li.t228__list_item
                    a.t-menu__link-item(href="#rec112190138" style="color:#ffffff;font-weight:600;" data-menu-item-number="2") Tác vụ khác
            .t228__rightside
              .t228__rightcontainer
                .t228__right_buttons
                  .t228__right_buttons_wrap
                    .t228__right_buttons_but
<<<<<<< HEAD
                      a.t-btn(href="/market/all" target="" style="color:#ffffff;background-color:#ffb833;")
                        table(style="width:100%; height:100%;")
                          tr
                            td Thị trường
=======
                      a.t-btn(href="/faqs" target="" style="color:#0000000;background-color:#ffffff;")
                        table(style="width:100%; height:100%;")
                          tr
                            td FAQs
>>>>>>> 4142ed1eb149b61e2a27b4d81af0d4410f0e2548
                    .t228__right_buttons_but
                      a.t-btn(href="/user/logout" target="" style="color:#000000 ;background-color:#ffffff;")
                        table(style="width:100%; height:100%;")
                          tr
                            td Đăng xuất
            .t228__padding40px
        script(type="text/javascript").
          $(document).ready(function() {
          t228_highlight();
          t228_checkAnchorLinks('112189141');
          });
          $(window).resize(function() {
          t228_setWidth('112189141');
          });
          $(window).load(function() {
          t228_setWidth('112189141');
          });
          $(document).ready(function() {
          t228_setWidth('112189141');
          });
          $(window).resize(function() {
          t228_setBg('112189141');
          });
          $(document).ready(function() {
          t228_setBg('112189141');
          });
          $(document).ready(function() {
          t228_changebgopacitymenu('112189141');
          $(window).bind('scroll', t_throttle(function() {
          t228_changebgopacitymenu('112189141')
          }, 200));
          });
        //if IE 8
          style.
            #rec112189141 .t228 { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9ffa742', endColorstr='#D9ffa742');
            }
      #rec112189142.r.t-rec(style=" " data-animationappear="off" data-record-type="205")
        // cover
        #recorddiv112189142.t-cover(bgimgfield="img" style="height:100vh; background-image:url('https://static.tildacdn.com/tild3330-3230-4838-b334-643031383765/-/resize/20x/asian-assorted-backg.jpg');")
          #coverCarry112189142.t-cover__carrier(data-content-cover-id="112189142" data-content-cover-bg="https://static.tildacdn.com/tild3330-3230-4838-b334-643031383765/asian-assorted-backg.jpg" data-content-cover-height="100vh" data-content-cover-parallax="" style="height:100vh;background-attachment:scroll; ")
          .t-cover__filter(style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -o-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66000000', endColorstr='#4c000000');")
          .t-container
            .t-width.t-width_10(style="margin:0 auto;")
              .t-cover__wrapper.t-valign_middle(style="height:100vh; position: relative;z-index:1;")
                .t182
                  div(data-hook-content="covercontent")
                    .t182__wrapper
                      .t182__title.t-title.t-title_xl.t-animate(data-animate-style="fadeinup" data-animate-group="yes" style="" field="title") Bảng điều khiển
                      .t182__descr.t-descr.t-descr_lg.t-animate(data-animate-style="fadeindown" data-animate-group="yes" style="" field="descr") Chào mừng trở lại, #{user.name}
                      h1(id='userId' style='visibility: hidden')=user.id
                      .t182__buttons
                        a.t-btn.t-animate(href="/user/manage/profile" target="" data-btneffects-first="btneffects-ripple" data-animate-style="fadeinleft" data-animate-group="yes" style="color:#ffffff;background-color:#f5914f;text-transform:uppercase;box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);")
                          table(style="width:100%; height:100%;")
                            tr
                              td Hồ sơ
          // arrow
          .t-cover__arrow
            .t-cover__arrow-wrapper.t-cover__arrow-wrapper_animated
              .t-cover__arrow_mobile
                svg.t-cover__arrow-svg(style="fill:#ffffff;" x="0px" y="0px" width="38.417px" height="18.592px" viewbox="0 0 38.417 18.592")
                  g
                    path(d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z")
          // arrow
        style.
          #rec112189142 .t-btn[data-btneffects-first],
          #rec112189142 .t-btn[data-btneffects-second],
          #rec112189142 .t-submit[data-btneffects-first],
          #rec112189142 .t-submit[data-btneffects-second] {
          position: relative;
          overflow: hidden;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          }
          #rec112189142 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects,
          #rec112189142 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          }
          #rec112189142 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects::after,
          #rec112189142 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects::after {
          content: '';
          position: absolute;
          height: 350%;
          width: 200%;
          top: 0;
          left: -100%;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 100%;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          z-index: 20;
          -webkit-animation-name: ripple;
          animation-name: ripple;
          -webkit-animation-duration: 6s;
          animation-duration: 6s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          }
          #rec112189142 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects_md::after,
          #rec112189142 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects_md::after {
          left: -130%;
          }
          #rec112189142 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects_lg::after,
          #rec112189142 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects_lg::after {
          left: -150%;
          }
          @-webkit-keyframes ripple {
          20% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          100% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          }
          @keyframes ripple {
          20% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          100% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          }
          #rec112189142 .t-btn[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects,
          #rec112189142 .t-submit[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transform: translateX(-60px);
          -ms-transform: translateX(-60px);
          transform: translateX(-60px);
          -webkit-animation-name: light;
          animation-name: light;
          -webkit-animation-duration: 4s;
          animation-duration: 4s;
          -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          }
          #rec112189142 .t-btn[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects_md,
          #rec112189142 .t-submit[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects_md {
          -webkit-animation-name: light-md;
          animation-name: light-md;
          }
          #rec112189142 .t-btn[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects_lg,
          #rec112189142 .t-submit[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects_lg {
          -webkit-animation-name: light-lg;
          animation-name: light-lg;
          }
          #rec112189142 .t-btn[data-btneffects-second="btneffects-light"] .t-btn_effects,
          #rec112189142 .t-submit[data-btneffects-second="btneffects-light"] .t-btn_effects {
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          height: 100%;
          background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          }
          @-webkit-keyframes light {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes light-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes light-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
        script(type="text/javascript").
          $(document).ready(function() {
          $('#rec112189142 .t-btn[data-btneffects-first], #rec112189142 .t-submit[data-btneffects-first]').append('<div class="t-btn_effects"></div>');
          if ($('#rec112189142 .t-btn[data-btneffects-first], #rec112189142 .t-submit').outerWidth() > 260) {
          $('#rec112189142 .t-btn[data-btneffects-first] .t-btn_effects, #rec112189142 .t-submit[data-btneffects-first] .t-btn_effects').addClass('t-btn_effects_md');
          }
          if ($('#rec112189142 .t-btn[data-btneffects-first], #rec112189142 .t-submit').outerWidth() > 360) {
          $('#rec112189142 .t-btn[data-btneffects-first] .t-btn_effects, #rec112189142 .t-submit[data-btneffects-first] .t-btn_effects').removeClass('t-btn_effects_md');
          $('#rec112189142 .t-btn[data-btneffects-first] .t-btn_effects, #rec112189142 .t-submit[data-btneffects-first] .t-btn_effects').addClass('t-btn_effects_lg');
          }
          $('#rec112189142 .t-btn[data-btneffects-second], #rec112189142 .t-submit[data-btneffects-second]').append('<div class="t-btn_wrap-effects"><div class="t-btn_effects"></div></div>');
          if ($('#rec112189142 .t-btn[data-btneffects-second]').outerWidth() > 230) {
          $('#rec112189142 .t-btn[data-btneffects-second] .t-btn_wrap-effects, #rec112189142 .t-submit[data-btneffects-second] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_md');
          }
          if ($('#rec112189142 .t-btn[data-btneffects-second], #rec112189142 .t-submit').outerWidth() > 300) {
          $('#rec112189142 .t-btn[data-btneffects-second] .t-btn_wrap-effects, #rec112189142 .t-submit[data-btneffects-second] .t-btn_wrap-effects').removeClass('t-btn_wrap-effects_md');
          $('#rec112189142 .t-btn[data-btneffects-second] .t-btn_wrap-effects, #rec112189142 .t-submit[data-btneffects-second] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_lg');
          }
          });
      #rec112189549.r.t-rec.t-rec_pt_150.t-rec_pb_150(style="padding-top:150px;padding-bottom:150px; " data-animationappear="off" data-record-type="598")
        // T598
        .t598
          .t-section__container.t-container
            .t-col.t-col_12
              .t-section__topwrapper.t-align_center
                .t-section__title.t-title.t-title_xs.t-animate(data-animate-style="fadeinup" data-animate-group="yes" field="btitle")
                  div(style="color:#f5914f;" data-customstyle="yes") Quản lí danh sách
          .t-container
            .t598__col.t-col.t-col_4.t-align_center.t-animate(data-animate-style="fadeinright" data-animate-chain="yes")
              .t598__content
                .t598__imgwrapper
                  .t598__bgimg.t598__img_circle.t-margin_auto.t-bgimg(bgimgfield="img" data-original="https://static.tildacdn.com/tild6233-6436-4535-a334-393931653636/7.svg" style=" background-image: url('https://static.tildacdn.com/tild6233-6436-4535-a334-393931653636/7.svg');")
                .t598__title.t-name.t-name_xl(field="title" style=" color:#f5914f;") Chờ duyệt
                a.t598__btn.t-btn.t-btn_sm(href="/user/manage/waitingAccept" target="" style="color:#ffffff;background-color:#f5914f;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;")
                  table(style="width:100%; height:100%;")
                    tr
                      td Truy cập
            .t598__col.t-col.t-col_4.t-align_center.t-animate(data-animate-style="fadeinright" data-animate-chain="yes")
              .t598__line_mobile(style="background-color: #e0e6ed;")
              .t598__content
                .t598__imgwrapper
                  .t598__bgimg.t598__img_circle.t-margin_auto.t-bgimg(bgimgfield="img2" data-original="https://static.tildacdn.com/tild3165-3839-4136-b538-333563333037/7.svg" style=" background-image: url('https://static.tildacdn.com/tild3165-3839-4136-b538-333563333037/7.svg');")
                .t598__title.t-name.t-name_xl(field="title2" style=" color:#f5914f;") Đang bán
                a.t598__btn.t-btn.t-btn_sm(href="/user/manage/onSaleItem" target="" style="color:#ffffff;background-color:#f5914f;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;")
                  table(style="width:100%; height:100%;")
                    tr
                      td Truy cập
              .t598__line(style="background-color: #e0e6ed;")
            .t598__col.t-col.t-col_4.t-align_center.t-animate(data-animate-style="fadeinright" data-animate-chain="yes")
              .t598__line_mobile(style="background-color: #e0e6ed;")
              .t598__content
                .t598__imgwrapper
                  .t598__bgimg.t598__img_circle.t-margin_auto.t-bgimg(bgimgfield="img3" data-original="https://static.tildacdn.com/tild3964-3761-4838-a161-656231343965/7.svg" style=" background-image: url('https://static.tildacdn.com/tild3964-3761-4838-a161-656231343965/7.svg');")
                .t598__title.t-name.t-name_xl(field="title3" style=" color:#f5914f;") Đơn hàng
                a.t598__btn.t-btn.t-btn_sm(href="/user/manage/queue" target="" style="color:#ffffff;background-color:#f5914f;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;")
                  table(style="width:100%; height:100%;")
                    tr
                      td Truy cập
              .t598__line(style="background-color: #e0e6ed;")
        style(type="text/css").
          #rec112189549 .t598__descr li {
          border-color: #e0e6ed !important;
          }
        script(type="text/javascript").
          $(document).ready(function() {
          t598_init('112189549');
          $(window).bind('resize', t_throttle(function() {
          t598_init('112189549')
          }, 250));
          $('.t598').bind('displayChanged', function() {
          t598_init('112189549');
          });
          $(window).load(function() {
          t598_init('112189549');
          });
          });
      #rec112192158.r.t-rec.t-rec_pt_90.t-rec_pb_60(style="padding-top:90px;padding-bottom:60px; " data-record-type="71")
        // T057
        .t057
          .t-container.t-align_center ~
      #rec112190138.r.t-rec.t-rec_pt_150.t-rec_pb_150(style="padding-top:150px;padding-bottom:150px; " data-animationappear="off" data-record-type="599")
        // T599
        style.
          #rec112190138 .t-btn:not(.t-animate_no-hover):hover {
          background-color: #f5914f !important;
          }
          #rec112190138 .t-btn:not(.t-animate_no-hover) {
          -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
          }
        .t599
          .t-section__container.t-container
            .t-col.t-col_12
              .t-section__topwrapper.t-align_center
                .t-section__title.t-title.t-title_xs.t-animate(data-animate-style="fadeinleft" data-animate-group="yes" field="btitle")
                  div(style="color:#f5914f;" data-customstyle="yes") Tác vụ khác
          .t-container.t599__withfeatured
            .t599__col.t-col.t-col_4.t-align_center.t-animate(data-animate-style="fadeinup" data-animate-chain="yes")
              .t599__content(style="border: 1px solid #ffffff; border-radius: 9px;")
                .t599__title.t-name.t-name_lg(field="title" style="color:#f5914f;") Lịch sử giao dịch
                .t599__subtitle.t-descr.t-descr_xxs(field="subtitle" style="")
                  | Bao gồm các hoạt động mua bán
                  br
                a.t599__btn.t-btn.t-btn_sm(href="/user/manage/userHistory/"+date target="" style="color:#ffffff;background-color:#f5914f;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;")
                  table(style="width:100%; height:100%;")
                    tr
                      td Truy cập ngay
            .t599__col.t-col.t-col_4.t-align_center.t599__featured.t-animate(data-animate-style="fadeinup" data-animate-chain="yes")
              .t599__content(style="border: 1px solid #ffffff; border-radius: 9px;")
                .t599__title.t-name.t-name_lg(field="title2" style="color:#f5914f;") Thị trường trực tuyến
                .t599__subtitle.t-descr.t-descr_xxs(field="subtitle2" style="")
<<<<<<< HEAD
                  | Truy cập thị trường
=======
                  | Truy cập thị trường trực tuyến
>>>>>>> 4142ed1eb149b61e2a27b4d81af0d4410f0e2548
                  br
                a.t599__btn.t-btn.t-btn_sm(href="/market/all" target="" style="color:#ffffff;background-color:#f5914f;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;")
                  table(style="width:100%; height:100%;")
                    tr
                      td Truy cập ngay
            .t599__col.t-col.t-col_4.t-align_center.t-animate(data-animate-style="fadeinup" data-animate-chain="yes")
              .t599__content(style="border: 1px solid #ffffff; border-radius: 9px;")
                .t599__title.t-name.t-name_lg(field="title3" style="color:#f5914f;") Yêu cầu mới
                .t599__subtitle.t-descr.t-descr_xxs(field="subtitle3" style="")
                  | Gửi mặt hàng mới lên admin
                  br
                a.t599__btn.t-btn.t-btn_sm(href="/user/manage/formRequestAdmin" target="" style="color:#ffffff;background-color:#f5914f;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px;")
                  table(style="width:100%; height:100%;")
                    tr
                      td Gửi ngay
        style(type="text/css").
          #rec112190138 .t599__featured .t599__content {
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10) !important;
          }
        script(type="text/javascript").
          $(document).ready(function() {
          setTimeout(function() {
          t599_init('112190138');
          }, 500);
          $(window).bind('resize', t_throttle(function() {
          t599_init('112190138')
          }, 250));
          $('.t599').bind('displayChanged', function() {
          t599_init('112190138');
          });
          });
          $(window).load(function() {
          t599_init('112190138');
          });
      #rec112293823.r.t-rec.t-rec_pt_150.t-rec_pb_150(style="padding-top:150px;padding-bottom:150px;background-color:#ff9a47; " data-animationappear="off" data-record-type="494" data-bg-color="#ff9a47")
        // t494
        .t494
          .t-container
            .t-col.t-col_6.t-prefix_3.t-align_center
              .t-sociallinks
                .t-sociallinks__wrapper
                  .t-sociallinks__item
                    a(href=admin.facebook target="_blank")
                      svg#Layer_1.t-sociallinks__svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewbox="0 0 48 48" enable-background="new 0 0 48 48" xml:space="preserve")
                        desc Facebook
                        path(style="fill:#ffffff;" d="M47.761,24c0,13.121-10.638,23.76-23.758,23.76C10.877,47.76,0.239,37.121,0.239,24c0-13.124,10.638-23.76,23.764-23.76C37.123,0.24,47.761,10.876,47.761,24 M20.033,38.85H26.2V24.01h4.163l0.539-5.242H26.2v-3.083c0-1.156,0.769-1.427,1.308-1.427h3.318V9.168L26.258,9.15c-5.072,0-6.225,3.796-6.225,6.224v3.394H17.1v5.242h2.933V38.85z")
              .t494__text.t-heading.t-heading_xs.t494__text-bottom-margin.t-animate(data-animate-style="fadein" data-animate-group="yes" data-animate-order="1" style="" field="text") Góp ý tới Admin
              .t494__text.t-text.t-text_sm.t-animate(data-animate-style="fadein" data-animate-group="yes" data-animate-order="2" data-animate-delay="0.3" style="" field="text2")
                | Góp ý : #{admin.googleForm}
                br
                | Số điện thoại : #{admin.phone}
                br
                | E-mail: #{admin.email}
      #rec112189155.r.t-rec.t-rec_pt_0.t-rec_pb_0(style="padding-top:0px;padding-bottom:0px;background-color:#ffffff; " data-animationappear="off" data-record-type="56" data-bg-color="#ffffff")
        // T046
        .t046
          .t-container
            .t-col.t-col_6.t-prefix_3
              .t046__text.t-text.t-text_xs(style="color:#000000;" field="text")
                span(style="color: rgb(147, 147, 147);") Bản quyền thuộc về Quoc Hung Bui
                br
    // /allrecords
    script(type="text/javascript").
      if (!window.mainTracker) {
      window.mainTracker = 'tilda';
      }(function(d, w, k, o, g) {
      var n = d.getElementsByTagName(o)[0],
      s = d.createElement(o),
      f = function() {
      n.parentNode.insertBefore(s, n);
      };
      s.type = "text/javascript";
      s.async = true;
      s.key = k;
      s.id = "tildastatscript";
      s.src = g;
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else {
      f();
      }
      })(document, window, 'd22cbffae3a3cd388f2a6d5e68166cf3', 'script', 'https://stat.tildacdn.com/js/tildastat-0.2.min.js');
    script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io.connect('http://localhost');
      $(document).ready(function(){
        socket.emit('online',$('#userId').text()) ; 
        socket.on('customerSendData',function(){
          swal(
            {
              title : "Thông báo" , 
              text : "Vừa có người đặt mua hàng của bạn"
            }
          );
        });
      });