doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    // metatextblock
    title Lịch sử hoạt động - School market
    // /metatextblock
    meta(property="fb:app_id" content="257953674358265")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="x-dns-prefetch-control" content="on")
    link(rel="dns-prefetch" href="https://tilda.ws")
    link(rel="dns-prefetch" href="https://static.tildacdn.com")
    link(rel="shortcut icon" href="https://static.tildacdn.com/img/tildafavicon.ico" type="image/x-icon")
    // Assets
    link(rel="stylesheet" href="https://static.tildacdn.com/css/tilda-grid-3.0.min.css" type="text/css" media="all")
    link(rel="stylesheet" href="https://tilda.ws/project1419256/tilda-blocks-2.12.css?t=1561565019" type="text/css" media="all")
    link(rel="stylesheet" href="https://static.tildacdn.com/css/tilda-animation-1.0.min.css" type="text/css" media="all")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&display=swaprel=stylesheet" type="text/css")
    script(src="https://static.tildacdn.com/js/jquery-1.10.2.min.js")
    script(src="https://static.tildacdn.com/js/tilda-scripts-2.8.min.js")
    script(src="https://tilda.ws/project1419256/tilda-blocks-2.7.js?t=1561565019")
    script(src="https://static.tildacdn.com/js/lazyload-1.3.min.js" charset="utf-8")
    script(src="https://static.tildacdn.com/js/tilda-animation-1.0.min.js" charset="utf-8")
    script(type="text/javascript").
      window.dataLayer = window.dataLayer || [];
    script(type="text/javascript").
      if ((/bot|google|yandex|baidu|bing|msn|duckduckbot|teoma|slurp|crawler|spider|robot|crawling|facebook/i.test(navigator.userAgent)) === false && typeof(sessionStorage) != 'undefined' && sessionStorage.getItem('visited') !== 'y') {
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = '@media screen and (min-width: 980px) {.t-records {opacity: 0;}.t-records_animated {-webkit-transition: opacity ease-in-out .2s;-moz-transition: opacity ease-in-out .2s;-o-transition: opacity ease-in-out .2s;transition: opacity ease-in-out .2s;}.t-records.t-records_visible {opacity: 1;}}';
      document.getElementsByTagName('head')[0].appendChild(style);
      $(document).ready(function() {
      $('.t-records').addClass('t-records_animated');
      setTimeout(function() {
      $('.t-records').addClass('t-records_visible');
      sessionStorage.setItem('visited', 'y');
      }, 400);
      });
      }
  body.t-body(style="margin:0;")
    // allrecords
    #allrecords.t-records(data-hook="blocks-collection-content-node" data-tilda-project-id="1419256" data-tilda-page-id="6329987" data-tilda-page-alias="userhistory" data-tilda-formskey="c71755a091199fc45bcc6680ae929656")
      #rec112314522.r.t-rec(style=" " data-animationappear="off" data-record-type="360")
        // T360
        style(type="text/css").
          @media screen and (min-width: 980px) {
          .t-records {
          opacity: 0;
          }
          .t-records_animated {
          -webkit-transition: opacity ease-in-out .5s;
          -moz-transition: opacity ease-in-out .5s;
          -o-transition: opacity ease-in-out .5s;
          transition: opacity ease-in-out .5s;
          }
          .t-records.t-records_visible {
          opacity: 1;
          }
          }
        script(type="text/javascript").
          $(document).ready(function() {
          $(window).bind('pageshow', function(event) {
          if (event.originalEvent.persisted) {
          window.location.reload()
          }
          });
          $("#rec112314522").attr('data-animationappear', 'off');
          $("#rec112314522").css('opacity', '1');
          $('.t-records').addClass('t-records_animated');
          setTimeout(function() {
          $('.t-records').addClass('t-records_visible');
          }, 200);
          });
        script(type="text/javascript").
          $(document).ready(function() {
          $("button:not(.t-submit):not(.t835__btn_next):not(.t835__btn_prev):not(.t835__btn_result):not(.t862__btn_next):not(.t862__btn_prev):not(.t862__btn_result):not(.t854__news-btn):not(.t862__btn_next), a:not([href*=#],.carousel-control,.t-carousel__control,[href^=#price],[href^=javascript],[href^=mailto],[href^=tel])").click(function(e) {
          var goTo = this.getAttribute("href");
          if (goTo && goTo.substring(0, 4) == 'tel:') {
          return true;
          }
          var target = $(this).attr("target");
          if (target !== "_blank") {
          e.preventDefault();
          $(".t-records").removeClass("t-records_visible");
          setTimeout(function() {
          window.location = goTo;
          }, 500);
          }
          });
          });
        style(type="text/css").
          .t360__bar {
          background-color:#ffb366;
          }
        script(type="text/javascript").
          $(document).ready(function() {
          var isSafari = /Safari/.test(navigator.userAgent) && /Apple Computer/.test(navigator.vendor);
          if (isSafari) {} else {
          $("body").append('<div class="t360__progress"><div class="t360__bar"></div></div>');
          setTimeout(function() {
          $(".t360__bar").addClass("t360__barprogress");
          }, 10);
          }
          });
          $(window).load(function() {
          $(".t360__bar").removeClass("t360__barprogress");
          $(".t360__bar").addClass("t360__barprogressfinished");
          setTimeout(function() {
          $(".t360__bar").addClass("t360__barprogresshidden");
          }, 20);
          setTimeout(function() {
          $(".t360__progress").hide();
          }, 500);
          });
      #rec112314523.r.t-rec(style=" " data-animationappear="off" data-record-type="257")
        // T228
        #nav112314523marker
        #nav112314523.t228.t228__positionfixed(style="background-color: rgba(255,167,66,0.0); height:80px; " data-bgcolor-hex="#ffa742" data-bgcolor-rgba="rgba(255,167,66,0.0)" data-navmarker="nav112314523marker" data-appearoffset="" data-bgopacity-two="50" data-menushadow="" data-bgopacity="0.0" data-bgcolor-rgba-afterscroll="rgba(255,167,66,0.50)" data-menu-items-align="center" data-menu="yes")
          .t228__maincontainer(style="height:80px;")
            .t228__padding40px
            .t228__leftside
              .t228__leftcontainer
                a.t228__logo.t-title(href = '/' field="title" style="color:#ffffff;font-size:30px;font-weight:600;font-family:'Montserrat';") School Market
            .t228__centerside
              .t228__centercontainer
                ul.t228__list.t228__list_hidden  
            .t228__rightside
              .t228__rightcontainer
                .t228__right_buttons
                  .t228__right_buttons_wrap
                    .t228__right_buttons_but
                      a.t-btn(href="/user/manage" target="" style="color:#ffffff;background-color:#ffb833;")
                        table(style="width:100%; height:100%;")
                          tr
                            td Trở lại trang
                    .t228__right_buttons_but
                      a.t-btn(href="/user/logout" target="" style="color:#ffffff;border:0px solid #ffffff;background-color:#ffb833;")
                        table(style="width:100%; height:100%;")
                          tr
                            td Đăng xuất
            .t228__padding40px
        script(type="text/javascript").
          $(document).ready(function() {
          t228_highlight();
          t228_checkAnchorLinks('112314523');
          });
          $(window).resize(function() {
          t228_setWidth('112314523');
          });
          $(window).load(function() {
          t228_setWidth('112314523');
          });
          $(document).ready(function() {
          t228_setWidth('112314523');
          });
          $(window).resize(function() {
          t228_setBg('112314523');
          });
          $(document).ready(function() {
          t228_setBg('112314523');
          });
          $(document).ready(function() {
          t228_changebgopacitymenu('112314523');
          $(window).bind('scroll', t_throttle(function() {
          t228_changebgopacitymenu('112314523')
          }, 200));
          });
        //if IE 8
          style.
            #rec112314523 .t228 { filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#D9ffa742', endColorstr='#D9ffa742');
            }
      #rec112314524.r.t-rec(style=" " data-animationappear="off" data-record-type="205")
        // cover
        #recorddiv112314524.t-cover(bgimgfield="img" style="height:100vh; background-image:url('https://static.tildacdn.com/tild3330-3230-4838-b334-643031383765/-/resize/20x/asian-assorted-backg.jpg');")
          #coverCarry112314524.t-cover__carrier(data-content-cover-id="112314524" data-content-cover-bg="https://static.tildacdn.com/tild3330-3230-4838-b334-643031383765/asian-assorted-backg.jpg" data-content-cover-height="100vh" data-content-cover-parallax="" style="height:100vh;background-attachment:scroll; ")
          .t-cover__filter(style="height:100vh;background-image: -moz-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -o-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: -ms-linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));background-image: linear-gradient(top, rgba(0,0,0,0.60), rgba(0,0,0,0.70));filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#66000000', endColorstr='#4c000000');")
          .t-container
            .t-width.t-width_10(style="margin:0 auto;")
              .t-cover__wrapper.t-valign_middle(style="height:100vh; position: relative;z-index:1;")
                .t182
                  div(data-hook-content="covercontent")
                    .t182__wrapper
                      .t182__title.t-title.t-title_xl.t-animate(data-animate-style="fadeinup" data-animate-group="yes" style="" field="title") Lịch sử hoạt động
                      .t182__descr.t-descr.t-descr_lg.t-animate(data-animate-style="fadeindown" data-animate-group="yes" style="" field="descr") Của bạn
                      .t182__buttons
                        a.t-btn.t-animate(href="" target="" data-btneffects-first="btneffects-ripple" data-animate-style="fadeinleft" data-animate-group="yes" style="color:#ffffff;background-color:#f5914f;text-transform:uppercase;box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);")
                          table(style="width:100%; height:100%;")
                            tr
                              td Xoá tất cả lịch sử
          // arrow
          .t-cover__arrow
            .t-cover__arrow-wrapper.t-cover__arrow-wrapper_animated
              .t-cover__arrow_mobile
                svg.t-cover__arrow-svg(style="fill:#ffffff;" x="0px" y="0px" width="38.417px" height="18.592px" viewbox="0 0 38.417 18.592")
                  g
                    path(d="M19.208,18.592c-0.241,0-0.483-0.087-0.673-0.261L0.327,1.74c-0.408-0.372-0.438-1.004-0.066-1.413c0.372-0.409,1.004-0.439,1.413-0.066L19.208,16.24L36.743,0.261c0.411-0.372,1.042-0.342,1.413,0.066c0.372,0.408,0.343,1.041-0.065,1.413L19.881,18.332C19.691,18.505,19.449,18.592,19.208,18.592z")
          // arrow
        style.
          #rec112314524 .t-btn[data-btneffects-first],
          #rec112314524 .t-btn[data-btneffects-second],
          #rec112314524 .t-submit[data-btneffects-first],
          #rec112314524 .t-submit[data-btneffects-second] {
          position: relative;
          overflow: hidden;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          }
          #rec112314524 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects,
          #rec112314524 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          }
          #rec112314524 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects::after,
          #rec112314524 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects::after {
          content: '';
          position: absolute;
          height: 350%;
          width: 200%;
          top: 0;
          left: -100%;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 100%;
          -webkit-transform: scale(0);
          -ms-transform: scale(0);
          transform: scale(0);
          z-index: 20;
          -webkit-animation-name: ripple;
          animation-name: ripple;
          -webkit-animation-duration: 6s;
          animation-duration: 6s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          }
          #rec112314524 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects_md::after,
          #rec112314524 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects_md::after {
          left: -130%;
          }
          #rec112314524 .t-btn[data-btneffects-first="btneffects-ripple"] .t-btn_effects_lg::after,
          #rec112314524 .t-submit[data-btneffects-first="btneffects-ripple"] .t-btn_effects_lg::after {
          left: -150%;
          }
          @-webkit-keyframes ripple {
          20% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          100% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          }
          @keyframes ripple {
          20% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          100% {
          opacity: 0;
          -webkit-transform: scale(2.5);
          transform: scale(2.5);
          }
          }
          #rec112314524 .t-btn[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects,
          #rec112314524 .t-submit[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transform: translateX(-60px);
          -ms-transform: translateX(-60px);
          transform: translateX(-60px);
          -webkit-animation-name: light;
          animation-name: light;
          -webkit-animation-duration: 4s;
          animation-duration: 4s;
          -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          }
          #rec112314524 .t-btn[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects_md,
          #rec112314524 .t-submit[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects_md {
          -webkit-animation-name: light-md;
          animation-name: light-md;
          }
          #rec112314524 .t-btn[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects_lg,
          #rec112314524 .t-submit[data-btneffects-second="btneffects-light"] .t-btn_wrap-effects_lg {
          -webkit-animation-name: light-lg;
          animation-name: light-lg;
          }
          #rec112314524 .t-btn[data-btneffects-second="btneffects-light"] .t-btn_effects,
          #rec112314524 .t-submit[data-btneffects-second="btneffects-light"] .t-btn_effects {
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          height: 100%;
          background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          }
          @-webkit-keyframes light {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes light-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes light-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
        script(type="text/javascript").
          $(document).ready(function() {
          $('#rec112314524 .t-btn[data-btneffects-first], #rec112314524 .t-submit[data-btneffects-first]').append('<div class="t-btn_effects"></div>');
          if ($('#rec112314524 .t-btn[data-btneffects-first], #rec112314524 .t-submit').outerWidth() > 260) {
          $('#rec112314524 .t-btn[data-btneffects-first] .t-btn_effects, #rec112314524 .t-submit[data-btneffects-first] .t-btn_effects').addClass('t-btn_effects_md');
          }
          if ($('#rec112314524 .t-btn[data-btneffects-first], #rec112314524 .t-submit').outerWidth() > 360) {
          $('#rec112314524 .t-btn[data-btneffects-first] .t-btn_effects, #rec112314524 .t-submit[data-btneffects-first] .t-btn_effects').removeClass('t-btn_effects_md');
          $('#rec112314524 .t-btn[data-btneffects-first] .t-btn_effects, #rec112314524 .t-submit[data-btneffects-first] .t-btn_effects').addClass('t-btn_effects_lg');
          }
          $('#rec112314524 .t-btn[data-btneffects-second], #rec112314524 .t-submit[data-btneffects-second]').append('<div class="t-btn_wrap-effects"><div class="t-btn_effects"></div></div>');
          if ($('#rec112314524 .t-btn[data-btneffects-second]').outerWidth() > 230) {
          $('#rec112314524 .t-btn[data-btneffects-second] .t-btn_wrap-effects, #rec112314524 .t-submit[data-btneffects-second] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_md');
          }
          if ($('#rec112314524 .t-btn[data-btneffects-second], #rec112314524 .t-submit').outerWidth() > 300) {
          $('#rec112314524 .t-btn[data-btneffects-second] .t-btn_wrap-effects, #rec112314524 .t-submit[data-btneffects-second] .t-btn_wrap-effects').removeClass('t-btn_wrap-effects_md');
          $('#rec112314524 .t-btn[data-btneffects-second] .t-btn_wrap-effects, #rec112314524 .t-submit[data-btneffects-second] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_lg');
          }
          });
      #rec112314525.r.t-rec.t-rec_pt_90.t-rec_pb_90(style="padding-top:90px;padding-bottom:90px; " data-record-type="71")
        // T057
        .t057
          .t-container.t-align_center ~
      #rec112676988.r.t-rec.t-rec_pt_105.t-rec_pb_105(style="padding-top:105px;padding-bottom:105px; " data-animationappear="off" data-record-type="678")
        // t678
        .t678
          .t-section__container.t-container
            .t-col.t-col_12
              .t-section__topwrapper.t-align_center
                .t-section__title.t-title.t-title_xs.t-animate(data-animate-style="fadeindown" data-animate-group="yes" field="btitle")
                  div(style="color:#ffb42d;" data-customstyle="yes") Tìm kiếm
          .t-container
            .t-col.t-col_8.t-prefix_2
              .t-animate(data-animate-style="fadeindown" data-animate-group="yes" data-animate-order="1")
                form#form112676988.t-form.js-form-proccess.t-form_inputs-total_1(name="form112676988" role="form" action="/user/manage/findDayUserHistory" method="POST" data-formactiontype="0" data-inputbox=".t-input-group" data-success-callback="t678_onSuccess")
                  // NO ONE SERVICES CONNECTED
                  .js-successbox.t-form__successbox.t-text.t-text_md(style="display:none;")
                  .t-form__inputsbox
                    .t-input-group.t-input-group_da(data-input-lid="1561544876845")
                      .t-input-title.t-descr.t-descr_md(data-redactor-toolbar="no" field="li_title__1561544876845" style="") Ngày tháng năm
                      .t-input-subtitle.t-descr.t-descr_xxs.t-opacity_70(data-redactor-toolbar="no" field="li_subtitle__1561544876845" style="") Format ngày : DD-MM-YYYY
                      .t-input-block
                        .t-datepicker__wrapper
                          input.t-input.t-datepicker.js-tilda-rule.js-tilda-mask(required type="text" name="dateFind" value="" data-tilda-req="1" data-tilda-rule="date" data-tilda-dateformat="DD-MM-YYYY" data-tilda-datediv="dash" data-tilda-mask="99-99-9999" style="color:#000000; border:1px solid #000000; ")
                          svg.t-datepicker__icon(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 69.5 76.2" style="width:25px;")
                            path(d="M9.6 42.9H21V31.6H9.6v11.3zm3-8.3H18v5.3h-5.3v-5.3zm16.5 8.3h11.3V31.6H29.1v11.3zm3-8.3h5.3v5.3h-5.3v-5.3zM48 42.9h11.3V31.6H48v11.3zm3-8.3h5.3v5.3H51v-5.3zM9.6 62H21V50.6H9.6V62zm3-8.4H18V59h-5.3v-5.4zM29.1 62h11.3V50.6H29.1V62zm3-8.4h5.3V59h-5.3v-5.4zM48 62h11.3V50.6H48V62zm3-8.4h5.3V59H51v-5.4z")
                            path(d="M59.7 6.8V5.3c0-2.9-2.4-5.3-5.3-5.3s-5.3 2.4-5.3 5.3v1.5H40V5.3C40 2.4 37.6 0 34.7 0s-5.3 2.4-5.3 5.3v1.5h-9.1V5.3C20.3 2.4 18 0 15 0c-2.9 0-5.3 2.4-5.3 5.3v1.5H0v69.5h69.5V6.8h-9.8zm-7.6-1.5c0-1.3 1-2.3 2.3-2.3s2.3 1 2.3 2.3v7.1c0 1.3-1 2.3-2.3 2.3s-2.3-1-2.3-2.3V5.3zm-19.7 0c0-1.3 1-2.3 2.3-2.3S37 4 37 5.3v7.1c0 1.3-1 2.3-2.3 2.3s-2.3-1-2.3-2.3V5.3zm-19.6 0C12.8 4 13.8 3 15 3c1.3 0 2.3 1 2.3 2.3v7.1c0 1.3-1 2.3-2.3 2.3-1.3 0-2.3-1-2.3-2.3V5.3zm53.7 67.9H3V9.8h6.8v2.6c0 2.9 2.4 5.3 5.3 5.3s5.3-2.4 5.3-5.3V9.8h9.1v2.6c0 2.9 2.4 5.3 5.3 5.3s5.3-2.4 5.3-5.3V9.8h9.1v2.6c0 2.9 2.4 5.3 5.3 5.3s5.3-2.4 5.3-5.3V9.8h6.8l-.1 63.4z")
                        link(rel="stylesheet" href="https://static.tildacdn.com/css/tiny-date-picker-1.5.css")
                        script(src="https://static.tildacdn.com/js/tiny-date-picker-1.2.js")
                        script.
                          $(document).ready(function() {
                          try {
                          setTimeout(function() {
                          t_datepicker_init('112676988', '1561544876845');
                          }, 500);
                          } catch (err) {}
                          });
                        .t-input-error
                    .t-form__errorbox-middle
                      .js-errorbox-all.t-form__errorbox-wrapper(style="display:none;")
                        .t-form__errorbox-text.t-text.t-text_md
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-all
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-req
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-email
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-name
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-phone
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-minlength
                          p.t-form__errorbox-item.js-rule-error.js-rule-error-string
                    .t-form__submit
                      button.t-submit(type="submit" style="color:#ffffff;background-color:#ffb42d;" data-btneffects-first="btneffects-light") Tìm
                  .t-form__errorbox-bottom
                    .js-errorbox-all.t-form__errorbox-wrapper(style="display:none;")
                      .t-form__errorbox-text.t-text.t-text_md
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-all
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-req
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-email
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-name
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-phone
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-minlength
                        p.t-form__errorbox-item.js-rule-error.js-rule-error-string
                style.
                  #rec112676988 input::-webkit-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec112676988 input::-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec112676988 input:-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec112676988 input:-ms-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec112676988 textarea::-webkit-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec112676988 textarea::-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec112676988 textarea:-moz-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
                  #rec112676988 textarea:-ms-input-placeholder {
                  color: #000000;
                  opacity: 0.5;
                  }
        style.
          #rec112676988 .t-btn[data-btneffects-first],
          #rec112676988 .t-btn[data-btneffects-second],
          #rec112676988 .t-submit[data-btneffects-first],
          #rec112676988 .t-submit[data-btneffects-second] {
          position: relative;
          overflow: hidden;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          }
          #rec112676988 .t-btn[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects,
          #rec112676988 .t-submit[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transform: translateX(-60px);
          -ms-transform: translateX(-60px);
          transform: translateX(-60px);
          -webkit-animation-name: light;
          animation-name: light;
          -webkit-animation-duration: 4s;
          animation-duration: 4s;
          -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
          }
          #rec112676988 .t-btn[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects_md,
          #rec112676988 .t-submit[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects_md {
          -webkit-animation-name: light-md;
          animation-name: light-md;
          }
          #rec112676988 .t-btn[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects_lg,
          #rec112676988 .t-submit[data-btneffects-first="btneffects-light"] .t-btn_wrap-effects_lg {
          -webkit-animation-name: light-lg;
          animation-name: light-lg;
          }
          #rec112676988 .t-btn[data-btneffects-first="btneffects-light"] .t-btn_effects,
          #rec112676988 .t-submit[data-btneffects-first="btneffects-light"] .t-btn_effects {
          position: absolute;
          top: 0;
          left: 0;
          width: 60px;
          height: 100%;
          background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
          background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          background: -o-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0));
          }
          @-webkit-keyframes light {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light {
          20% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes light-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light-md {
          30% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @-webkit-keyframes light-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
          @keyframes light-lg {
          40% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          100% {
          -webkit-transform: translateX(100%);
          transform: translateX(100%);
          }
          }
        script(type="text/javascript").
          $(document).ready(function() {
          $('#rec112676988 .t-btn[data-btneffects-first], #rec112676988 .t-submit[data-btneffects-first]').append('<div class="t-btn_wrap-effects"><div class="t-btn_effects"></div></div>');
          if ($('#rec112676988 .t-btn[data-btneffects-first]').outerWidth() > 230) {
          $('#rec112676988 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec112676988 .t-submit[data-btneffects-first] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_md');
          }
          if ($('#rec112676988 .t-btn[data-btneffects-first], #rec112676988 .t-submit').outerWidth() > 300) {
          $('#rec112676988 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec112676988 .t-submit[data-btneffects-first] .t-btn_wrap-effects').removeClass('t-btn_wrap-effects_md');
          $('#rec112676988 .t-btn[data-btneffects-first] .t-btn_wrap-effects, #rec112676988 .t-submit[data-btneffects-first] .t-btn_wrap-effects').addClass('t-btn_wrap-effects_lg');
          }
          });
      #rec112314526.r.t-rec.t-rec_pt_150.t-rec_pb_150(style="padding-top:150px;padding-bottom:150px; " data-record-type="514")
        // T514
        .t514
          .t-section__container.t-container
            .t-col.t-col_12
              .t-section__topwrapper.t-align_center
                .t-section__title.t-title.t-title_xs(field="btitle") Lịch sử hoạt động
                .t-section__descr.t-descr.t-descr_xl.t-margin_auto(field="bdescr")=date
          .t-container
            each element,index in historySubject
             .t-col.t-col_8.t-prefix_2.t-item.t-animate(data-animate-style="fadeindown" data-animate-chain="yes")
               .t-cell.t-valign_top
                 .t510__circle.t-heading.t-valign_top(style=" color:#ffa530;; border: 2px solid #ffa530; ")=(index+1)
               .t510__textwrapper.t-cell.t-valign_top(style="")
                 .t-name.t-name_md.t510__bottommargin(style="color:#ffa530;" field="li_title__1476966581869")=element.time
                 if (element.action ==='Buy - Sell')
                  .t-descr.t-descr_sm(style="" field="li_descr__1476966581869")
                    | ĐÃ BÁN
                    br
                    | Người mua : #{element.object}
                    br
                    | Số lượng bạn đã bán : #{element.objectInfo.amount}
                    br
                    | Tên mặt hàng : #{element.item.nameItem}
                    br
                    | Id mặt hàng : #{element.item.idItem}
                    br
                    br
                    br
                 else if (element.action ==='User remove item')
                  .t-descr.t-descr_sm(style="" field="li_descr__1476966581869")
                    | ĐÃ GỠ MẶT HÀNG
                    br
                    | Tên mặt hàng : #{element.item.nameItem}
                    br
                    | Giá : #{element.item.priceItem} đ
                    br 
                    | Danh mục : #{element.item.type}
                    br
                    | Hạn cuối nhận giao hàng : #{element.item.dateItem}
                    br
                    | Mô tả : #{element.item.desItem}
                    br
                    | Link ảnh : 
                    a(href = element.item.imgItem target="_blank" rel="noopener noreferrer") #{element.item.imgItem}   
                    br
                    br
                    br
                 else if (element.action ==='User remove request')
                  .t-descr.t-descr_sm(style="" field="li_descr__1476966581869")
                    | ĐÃ ĐÃ GỠ YÊU CẦU
                    br
                    | Tên mặt hàng : #{element.item.nameItem}
                    br
                    | Giá : #{element.item.priceItem} đ
                    br 
                    | Danh mục : #{element.item.type}
                    br
                    | Hạn cuối nhận giao hàng : #{element.item.dateItem}
                    br
                    | Mô tả : #{element.item.desItem}
                    br
                    | Link ảnh : 
                    a(href = element.item.imgItem target="_blank" rel="noopener noreferrer") #{element.item.imgItem}   
                    br
                    br
                    br
            each element,index in historyObject
             .t-col.t-col_8.t-prefix_2.t-item.t-animate(data-animate-style="fadeindown" data-animate-chain="yes")
               .t-cell.t-valign_top
                 .t510__circle.t-heading.t-valign_top(style=" color:#ffa530;; border: 2px solid #ffa530; ")=(historySubject.length+1+index)
               .t510__textwrapper.t-cell.t-valign_top(style="")
                 .t-name.t-name_md.t510__bottommargin(style="color:#ffa530;" field="li_title__1476966581869")=element.time
                 if (element.action === 'Buy - Sell')
                  .t-descr.t-descr_sm(style="" field="li_descr__1476966581869")
                    | ĐÃ MUA
                    br
                    | Người bán : #{element.subject}
                    br
                    | Số lượng bạn đã mua : #{element.objectInfo.amount}
                    br
                    | Tên mặt hàng : #{element.item.nameItem}
                    br
                    | Id mặt hàng : #{element.item.idItem}
                    br
                    br
                    br
        style.
          #rec112314526 .t514__rightcol_5 .t514__line {
          height: 4px;
          }
          #rec112314526 .t514__rightcol_5 .t514__sectiontextwrapper {
          padding-bottom: 0;
          }
          @media screen and (max-width: 960px) {
          #rec112314526 .t514__rightcol_5 .t514__line {
          height: 0px;
          }
          }
      #rec112314527.r.t-rec.t-rec_pt_90.t-rec_pb_90(style="padding-top:90px;padding-bottom:90px; " data-record-type="71")
        // T057
        .t057
          .t-container.t-align_center ~
      #rec112314528.r.t-rec.t-rec_pt_0.t-rec_pb_0(style="padding-top:0px;padding-bottom:0px;background-color:#000000; " data-animationappear="off" data-record-type="56" data-bg-color="#000000")
        // T046
        .t046
          .t-container
            .t-col.t-col_6.t-prefix_3
              .t046__text.t-text.t-text_xs(style="" field="text")
                span(style="color: rgb(147, 147, 147);") Ban quyen thuoc ve Quoc Hung Bui
                br
    // /allrecords
    // Stat
    script(type="text/javascript").
      if (!window.mainTracker) {
      window.mainTracker = 'tilda';
      }(function(d, w, k, o, g) {
      var n = d.getElementsByTagName(o)[0],
      s = d.createElement(o),
      f = function() {
      n.parentNode.insertBefore(s, n);
      };
      s.type = "text/javascript";
      s.async = true;
      s.key = k;
      s.id = "tildastatscript";
      s.src = g;
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else {
      f();
      }
      })(document, window, 'd22cbffae3a3cd388f2a6d5e68166cf3', 'script', 'https://stat.tildacdn.com/js/tildastat-0.2.min.js');
